{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <!--<meta charset="UTF-8">-->
    <title>SneakerShop</title>
</head>
<body>
    <div class = 'head'>
        <h1><a href="/">Sneaker Shop</a></h1>
        {% if not user.is_active %}
            <h3 align="right" ><a href="{% url 'login'%}">Log in</a></h3>
        {% else %}
            <h3 align="right" ><a href="{% url 'logout'%}">Log out</a></h3>
        {% endif %}
        </div>

    <div>
        {% if not user.shopuser.verified and not user.is_superuser %}
            <h3 align="right" ><a href="{% url 'send_mail' %}">Verify your account!</a></h3>
        {% endif %}
    </div>

    <div class = 'insert'>
        {%  block content %}
        {% endblock %}
    </div>

</body>
</html>