{% extends 'Shop/base.html' %}

{% block content %}
    <div class = sneaker_page>
    <br> <h2>{{ current_model.Sneakers_info.brand }} {{ current_model.Sneakers_info.sneakers_name }}
    <a class="btn btn-default" href="{% url 'edit_page' pk=current_model.pk %}"><span class="glyphicon glyphicon-pencil"></span></a> </h2>
    <img src="{{ current_model.image.image.url }}" height="167.2" width="278"> <br>
    Recommended use:
        {% for item in current_model.Sneakers_info.way_to_use.all %}
            {{ item }}
        {% endfor %} <br>
    EU:{{ current_model.size }} <br>
    In stock: {{ current_model.amount }} <br>

    </div>
{% endblock %}